// out: ../style.css, sourcemap: false, compress: false

@import "_reset.less";
@import (reference) "_dss.less";
@import (reference) "_mixins.less";

* {
    .box-sizing();
}

/*** VARs ***/
@sizeMenu: 4rem;
@primaryColor: #c01118;


html {
    height: 100%;
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 10px;
}

body, .container {
    height: 100%;
    position:relative;
}

header {
    background: @primaryColor;
    color: white;
    text-align:center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    height: @sizeMenu;
    position:fixed;
    width: 100%;
}

section {
    .minheightwindow(@size: @sizeMenu);
    text-align:center;
}

footer {
    background: @primaryColor;
    text-align:center;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    min-height: @sizeMenu;
    position:absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}
